<!DOCTYPE html>
<html lang="en">
  <head>
    <%= erb :head %>

  <script src="/js/adminResultsController.js"></script>
	<script src="/js/adminCreateResultsController.js"></script>
  </head>

  <body ng-app="aepi-fantasy" ng-controller="HomeController" ng-cloak>

    <div class="container">
      <!-- Static navbar -->
      <%= erb :header %>
      
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3 col-md-2 sidebar-inverse">
            <ul class="nav">
              <li ng-class="isAdminBaseballResults()"><a href="#/admin/results/baseball">Baseball Results</a></li>
              <li ng-class="isAdminFootballResults()"><a href="#/admin/results/football">Football Results</a></li>
              <li ng-class="isAdminCreateResult()"><a href="#/admin/results">Add Result</a></li>
            </ul>
          </div>

          <div class="col-sm-9 col-md-10">
            <div ng-view>
          </div>
        </div>
      </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
  </body>
</html>
