<!DOCTYPE html>
<html lang="en">
  <head>
    <%= erb :head %>

    <script src="/js/careerStandingsController.js"></script>
  </head>

  <body ng-app="aepi-fantasy" ng-controller="HomeController" ng-cloak>

    <div class="container">
      <!-- Static navbar -->
      <%= erb :header %>
      
      <div class="container-fluid" ng-controller="CareerStandingsController">
        <div ng-hide="contentLoaded" class="vertical-center">
          <div style="text-align:center; width:100%">
            <h1>Loading</h1>
            <img src="/img/loading-page.gif"/>
          </div>
        </div>
        <div ng-show="contentLoaded">
          <h1>Career Standings - {{sport | capitalize}}</h1>
          <div class="table-responsive col-md-12">
			<table class="table table-condensed table-hover">
				<thead>
					<tr>
						<th>Place</th>
						<th>Owner</th>
						<th ng-click="changeField('wins')">Wins <i class="fa fa-sort" ng-class="sortStatus('wins')"></i></th>
						<th ng-click="changeField('losses')">Losses <i class="fa fa-sort" ng-class="sortStatus('losses')"></i></th>
						<th ng-click="changeField('ties')" ng-show="sport == 'baseball'">Ties <i class="fa fa-sort" ng-class="sortStatus('ties')"></i></th>
						<th ng-click="changeField('winPercentage')">Win Percentage <i class="fa fa-sort" ng-class="sortStatus('winPercentage')"></i></th>
						<th ng-click="changeField('points')" ng-show="sport == 'football'">Points <i class="fa fa-sort" ng-class="sortStatus('points')"></i></th>
            <th ng-show="sport == 'baseball'">Games Back</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="result in standings | orderBy:orderByField:reverseSort">
						<td>{{$index + 1}}</td>
						<td>{{result.name}}</td>
						<td>{{result.wins}}</td>
						<td>{{result.losses}}</td>
						<td ng-show="sport == 'baseball'">{{result.ties}}</td>
            <td>{{result.winPercentage | number: 4}}</td>
						<td ng-show="sport == 'football'">{{result.points | number:1}}</td>
            <td ng-show="sport == 'baseball'">{{getGamesBack(result)}}</td>
					</tr>
				</tbody>
			</table>
        </div>
      </div>  
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
  </body>
</html>
