<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="/imgfavicon.ico">

<title>AEPi Fantasy</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/css/navbar.css" rel="stylesheet">
<link href="/css/sidebar.css" rel="stylesheet">
<link href="/css/body.css" rel="stylesheet">

<script src="/lib/jquery-1.11.1.js"></script>
<script src="/lib/jquery-ui-1.10.4.js"></script>
<script src="/lib/angular.js"></script>
<script src="/lib/angular-route.js"></script>
<script src="/lib/angular-resource.js"></script>
<script src="/lib/angular-cookies.js"></script>
<script src="/lib/sortable.js"></script>

<script src="/js/aepiFantasy.js"></script>
<script src="/js/homeController.js"></script>
