<div class="navbar navbar-inverse navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">AEPi Fantasy</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown <%= isBaseballActive %>">
          <a class="dropdown-toggle" data-toggle="dropdown">Baseball <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/baseball/champions">Champions</a></li>
            <li><a href="/baseball/results">Season Results</a></li>
            <li><a href="/baseball/names">Team Names</a></li>
            <li><a href="/baseball/records">Records</a></li>
            <li><a href="/baseball/facts">Fantasy Facts</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="dropdown <%= isFootballActive %>">
          <a class="dropdown-toggle" data-toggle="dropdown">Football <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/football/champions">Champions</a></li>
            <li><a href="/football/results">Season Results</a></li>
            <li><a href="/football/names">Team Names</a></li>
            <li><a href="/football/records">Records</a></li>
            <li><a href="/football/facts">Fantasy Facts</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav" ng-show="currentUser">
        <li class="dropdown <%= isPollActive %>">
          <a class="dropdown-toggle" data-toggle="dropdown">Polls <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/polls/current">Current Polls</a></li>
            <li><a href="/polls/result">Poll Results</a></li>
          </ul>
        </li>
      </ul>

      <form class="navbar-form pull-right" style="padding-top:2px;" ng-hide="loginSubmitted">
        <span class="login-failed" ng-show="loginFailed">Login Failed</span>
        <input class="span2 form-control" type="text" style="height:30px; width:130px" placeholder="Username" ng-model="user.name">
        <input class="span2 form-control" type="password" style="height:30px; width:130px" placeholder="Password" ng-model=" user.password">
        <button type="submit" class="btn btn-sm" ng-click="signIn()">Sign in</button>
      </form>
      <ul class="nav navbar-nav pull-right" ng-show="loginSubmitted">
        <li ng-show="currentUser">
          <a class="dropdown-toggle" data-toggle="dropdown">Logged in as: {{currentUser.username}}</a>
          <ul class="dropdown-menu">
            <li><a ng-click="logout()">Logout</a></li>
          </ul>
        </li>
        <li ng-hide="currentUser || loginFailed">
          <div class="loading"> </div>
        </li>
      </ul>
    </div>
  </div>
</div>
