<!DOCTYPE html>
<html lang="en">
  <head>
    <%= erb :head %>
    <script src="/js/recordsController.js"></script>
    <script src="/js/submitRecordsController.js"></script>
  </head>

  <body ng-app="aepi-fantasy" ng-controller="HomeController" ng-cloak>

    <div class="container">
      <!-- Static navbar -->
      <%= erb :header %>
      
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3 col-md-2 sidebar-inverse">
            <ul class="nav">
              <li ng-class="isActiveAllRecords()"><a href="#/records/current">All Records</a></li>
              <li ng-class="isActiveCareerRecords()"><a href="#/records/career">Career Records</a></li>
              <li ng-class="isActiveSeasonRecords()"><a href="#/records/season">Season Records</a></li>
              <li ng-class="isActiveWeeklyRecords()"><a href="#/records/weekly">Weekly Records</a></li>
              <li ng-show="currentUser" ng-class="isActiveCreateRecord()"><a href="#/records/create">Submit Record</a></li>
            </ul>
          </div>

          <div class="col-sm-9 col-md-10">
            <div ng-view>
          </div>
        </div>
      </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
  </body>
</html>
