<!DOCTYPE html>
<html lang="en">
  <head>
    <%= erb :head %>

    <script src="/js/rotoController.js"></script>
  </head>

  <body ng-app="aepi-fantasy" ng-controller="HomeController" ng-cloak>

    <div class="container">
      <!-- Static navbar -->
      <%= erb :header %>
      
      <div class="container-fluid" ng-controller="RotoController">
        <div ng-hide="contentLoaded" class="vertical-center">
          <div style="text-align:center; width:100%">
            <h1>Loading</h1>
            <img src="/img/loading-page.gif"/>
          </div>
        </div>
        <div ng-show="contentLoaded">
          <h1>Roto Standings</h1>
          <div class="table-responsive col-md-12">
			<table class="table table-condensed table-hover">
				<thead>
					<tr>
						<th>Place</th>
						<th>Owner</th>
						<th ng-click="changeField('runs_points')">R <i class="fa fa-sort" ng-class="sortStatus('runs_points')"></i></th>
						<th ng-click="changeField('homeruns_points')">HR <i class="fa fa-sort" ng-class="sortStatus('homeruns_points')"></i></th>
						<th ng-click="changeField('rbi_points')">RBI <i class="fa fa-sort" ng-class="sortStatus('rbi_points')"></i></th>
						<th ng-click="changeField('sb_points')">SB <i class="fa fa-sort" ng-class="sortStatus('sb_points')"></i></th>
						<th ng-click="changeField('average_points')">AVG <i class="fa fa-sort" ng-class="sortStatus('average_points')"></i></th>
						<th ng-click="changeField('ops_points')">OPS <i class="fa fa-sort" ng-class="sortStatus('ops_points')"></i></th>
						<th ng-click="changeField('quality_starts_points')">QS <i class="fa fa-sort" ng-class="sortStatus('quality_starts_points')"></i></th>
						<th ng-click="changeField('wins_points')">W <i class="fa fa-sort" ng-class="sortStatus('wins_points')"></i></th>
						<th ng-click="changeField('saves_points')">SV <i class="fa fa-sort" ng-class="sortStatus('saves_points')"></i></th>
						<th ng-click="changeField('era_points')">ERA <i class="fa fa-sort" ng-class="sortStatus('era_points')"></i></th>
						<th ng-click="changeField('whip_points')">WHIP <i class="fa fa-sort" ng-class="sortStatus('whip_points')"></i></th>
						<th ng-click="changeField('k_per_9_points')">K/9 <i class="fa fa-sort" ng-class="sortStatus('k_per_9_points')"></i></th>
						<th ng-click="changeField('total_points')">Total <i class="fa fa-sort" ng-class="sortStatus('total_points')"></i></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="result in standings | orderBy:orderByField:reverseSort">
						<td>{{$index + 1}}</td>
						<td>{{result.name}}</td>
						<td>{{result.runs_points}}</td>
						<td>{{result.homeruns_points}}</td>
						<td>{{result.rbi_points}}</td>
						<td>{{result.sb_points}}</td>
						<td>{{result.average_points}}</td>
						<td>{{result.ops_points}}</td>
						<td>{{result.quality_starts_points}}</td>
						<td>{{result.wins_points}}</td>
						<td>{{result.saves_points}}</td>
						<td>{{result.era_points}}</td>
						<td>{{result.whip_points}}</td>
						<td>{{result.k_per_9_points}}</td>
						<td>{{result.total_points}}</td>
					</tr>
				</tbody>
			</table>
        </div>
      </div>  
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
  </body>
</html>
