<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>AEPi Fantasy</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/navbar.css" rel="stylesheet">
    <link href="css/sidebar.css" rel="stylesheet">

    <script src="lib/angular.js"></script>
    <script src="lib/angular-route.js"></script>

    <script src="js/aepiFantasy.js"></script>
  </head>

  <bod ng-app="aepi-fantasy" ng-controller="HomeController">

    <div class="container">
      <!-- Static navbar -->
      <div class="navbar navbar-inverse navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">AEPi Fantasy</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown active">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Baseball <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Champions</a></li>
                  <li><a href="#">Season Results</a></li>
                  <li><a href="#">Team Names</a></li>
                  <li><a href="#">Records</a></li>
                  <li><a href="#">Fantasy Facts</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Football <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Champions</a></li>
                  <li><a href="#">Season Results</a></li>
                  <li><a href="#">Team Names</a></li>
                  <li><a href="#">Records</a></li>
                  <li><a href="#">Fantasy Facts</a></li>
                </ul>
              </li>
            </ul>

            <form class="navbar-form pull-right">
                    <input class="span2" type="text" style="height:30px" placeholder="Username">
                    <input class="span2" type="password" style="height:30px" placeholder="Password">
                    <button type="submit" class="btn">Sign in</button>
                  </form>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3 col-md-2 sidebar-inverse">
            <ul class="nav">
              <li><a class="header" href="#">Seasons</a></li>
              <li><a href="#">2013</a></li>
              <li><a href="#">2012</a></li>
              <li><a href="#">2011</a></li>
            </ul>
          </div>

          <div class="col-sm-9 col-md-10">
            <div ng-view>
          </div>
        </div>
      </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
  </body>
</html>
