.password-match {
	position: relative;
	top: 9px;
	color: red;
}

.password-message {
	position: relative;
	top:5px;
}

.header div {
	font-weight: bold;
	text-decoration: underline;
}

.upload-modal .modal-dialog{
	width: 700px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 70vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.badge {
	margin: 0 5px;
}

.dropdown.active .badge, .dropdown.open .badge {
	background-color: #aaaaaa;
}