.password-match {
	position: relative;
	top: 9px;
	color: red;
}

.password-message {
	position: relative;
	top:5px;
}

.header div {
	font-weight: bold;
	text-decoration: underline;
}

.upload-modal .modal-dialog{
	width: 700px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 70vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.badge {
	margin: 0 5px;
}

.dropdown.active .badge, .dropdown.open .badge, .navbar-nav .active .badge {
	background-color: #aaaaaa;
}

.dropdown-menu > li > a {
	white-space:normal;
}

.new-event {
	background-color: #6E3338;
}

.keeper {
    color: royalblue;
    font-size:10px;
}

.weekly-results {
	margin: 0 140px 0;
}

.points-win {
	font-weight: 900;
}

.points-loss { 
	font-weight: 300;
}


.win-total-label {
	padding-left:30px;
	font-weight:bold;
}

.terminal {
	border-width: 1px;
	height: 700px;
	background-color: black;
 	color: white;
  	font: 1.3rem Inconsolata, monospace;
  	padding: 10px 15px;
  	border: 1px solid white;
  	overflow-y: scroll;
  	margin:10px;
}