<div class="row">
	<div class="col-md-12">
		<h1>{{year}} - {{leagueName}}</h1>
	</div>
	<div class="col-md-9 btn-group" style="margin:20px 0" ng-show="isFinal">
		<!-- Parent scope needed because ng-repeat creates a new scope -->
        <label class="btn btn-primary" ng-model="selectedStandingsType" btn-radio="'final'">Final</label>
        <label class="btn btn-primary" ng-model="selectedStandingsType" btn-radio="'regularSeason'">Regular Season</label>
    </div>
    <div class="table-responsive col-md-12">
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th>Place</th>
					<th ng-show="currentUser">Team Name</th>
					<th>Owner</th>
					<th>Wins</th>
					<th>Losses</th>
					<th>Ties</th>
					<th ng-show="{{$parent.getSportType() == 'football'}}">Points</th>
					<th ng-hide="{{year != currentYear}}">Games Back</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="result in results">
					<td>{{$index + 1}}</td>
					<td ng-show="currentUser">{{result.name}}</td>
					<td>{{result.owner}}</td>
					<td>{{result.wins}}</td>
					<td>{{result.losses}}</td>
					<td>{{result.ties}}</td>
					<td ng-show="{{$parent.getSportType() == 'football'}}">{{result.points}}</td>
					<td ng-hide="{{year != currentYear}}">{{getGamesBack(result)}}
				</tr>
			</tbody>
		</table>
	</div>
</div>
