<div style="margin:40px;">
	<h3>Upload Image</h2>
	<div>
		Select an image file: <input type="file" file-model="myImage" style="display:inline; color:white;"/>
	</div>
	<div class="row" style="margin-top:10px">
		<div class="col-md-6" style="background: #e4e4e4; overflow:hidden; width:300px; height:300px;">
			<img-crop image="myImage" result-image="myCroppedImage" area-type="square"></img-crop>
		</div>
		<div class="col-md-6" style="text-align:center;">
			<img id="croppedImage" ng-src="{{myCroppedImage}}" style="padding:5px; border:1px black dotted;"/>
			<div class="form-group" style="margin-top:10px;">
			    <button type="submit" class="btn btn-primary" ng-click="fileUpload()" ng-disabled="sending">Upload</button>
			    <button class="btn btn-failure" ng-click="cancel()">Cancel</button>
			</div>
			<div>{{loadingMessage}}</div>
		</div>
	</div>

</div>